<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <!-- <img class="d-block w-100" src="China-Boats.jpg" alt="First slide"> -->
      <%= image_tag "China-Agriculture.jpg", class: "d-block w-100 " %>
    </div>
    <div class="carousel-item">
      <%= image_tag "Rwanda-Landscape.jpg", class: "d-block w-100 h-311" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "Turkey-Cityscape.jpg", class: "d-block w-100" %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="blockquote blog-big">
  <br>
  <br>
  <h1 class="text-center"> <%= @blog.header %></h1>
  <br>
  <h3 class="text-center"> <%= @blog.sub_header %></h3>
  <br>
  <p class="text-left"><%= simple_format(@blog.content)  %> </p>
  <br>
  <p class="text-center"> <strong>Author </strong> - <%= @blog.author %> <br> <%= @blog.author_info %></p>
  <br>
  <p class="text-center"><%= @blog.hashtags %> </p>
</div>
<br>
<div class="text-center">
  <%= link_to 'Back', blogs_path, class: "btn blue button-custom" %>
</div>
<br>
<br>






