<div class="staff-container">
  <br>
  <br>
  <div class="block team-show-background">
    <div class="rows vertical-center-row">
      <div>
        <%= cl_image_tag @staff.image.key, class: "staff-image" %>
      </div>
      <div class="staff-job-desc">
        <h2 class="main-col"> <%= @staff.f_name %> <br> <%= @staff.l_name %></h2>
        <h3 class="job-title-text"> <%= @staff.job_title %></h3>
        <br>
        <h5> "Quote of the year" </h5>
      </div>
    </div>
  </div>



  <div class="staff-info ">
    <div class="staff-contact">
      <h5><strong class="main-col">Contact <%= @staff.f_name %> </strong></h5>
      <p><a href=" <%= @staff.link %> " target="blanked" class="linked-in"><i class="fab fa-linkedin"></i></a></p>

      <p class="main-col"><i class="pr-2 fas fa-envelope-open-text"></i>  <%= @staff.email %> </p>

    </div>
    <div class="staff-bio">
      <p class="main-col"> <%= simple_format(@staff.bio) %></p>
    </div>
  </div>
  <div class="text-center">
    <%= link_to 'Back', staff_index_path, class: "btn blue button-custom" %>
  </div>
  <br>
  <br>
</div>
