<header>
  <div class="nav-conatiner">
    <input type="checkbox" name="" id="check">
    <div class="logo-container">
      <%= link_to root_path do %>
      <%= image_tag "logo-transparent1.png", class: "nav-logo" %>
      <% end %>
    </div>

    <div class="nav-btn">
      <div class="navbar-links">
        <ul>
          <li class="nav-link" style="--i: .6s">
            <a href="#">Services<i class="fas fa-caret-down rotate"></i></a>
            <div class="dropdown">
              <ul>
                <li class="dropdown-link">
                  <%= link_to "Design", design_path %>
                </li>
                <li class="dropdown-link">
                  <%= link_to "Sustainability", sustainability_path %>
                </li>
                <li class="dropdown-link">
                  <%= link_to "Transformation", transformation_path %>
                </li>
                <div class="arrow"></div>
              </ul>
            </div>
          </li>
          <li class="nav-link" style="--i: .9s">
            <a href="http://www.bisimpact.com#strategy">What We Do</a>
          </li>
          <li class="nav-link" style="--i: 1.4s">
            <%= link_to 'Our Team', staff_index_path %>
          </li>
          <li class="nav-link" style="--i: 1.8s">
            <%= link_to 'Blog', blogs_path %>
          </li>
          <li class="nav-link" style="--i: 2.2s">
            <%= link_to "Videos", videos_path %>
          </li>
          <li class="nav-link" style="--i: 2.6s">
            <a href="http://www.bisimpact.com#contacts">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="hamburger-menu-container">
        <div class="hamburger-menu">
          <div></div>
        </div>
    </div>
  </div>
</header>









