<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <!-- <img class="d-block w-100" src="China-Boats.jpg" alt="First slide"> -->
      <%= image_tag "China-Agriculture.jpg", class: "d-block w-100 " %>
    </div>
    <div class="carousel-item">
      <%= image_tag "Rwanda-Landscape.jpg", class: "d-block w-100 h-311" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "Turkey-Cityscape.jpg", class: "d-block w-100" %>
    </div>
    <div class="carousel-caption d-none d-md-block">
    <h3>Design</h3>
    <p>Lorem ipsum dolor sit amet</p>
  </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<br>
<br>
<h1 class="text-center">AREAS OF EXPERTISE</h1>
<br>
<br>
<div class="container">
  <div class="content">
    <p>In generations gone, the relationships we fostered and the human interactions we had were central to success. Though these elements are still important, we must now appreciate the role of technology. It allows us to reach newer places and enables a faster information distribution environment. Designing institutions that are cognisant of this new operating environment allows for social impact to be baked in from the offset. It is no longer an afterthought but something that can be targetted and planned for - both meticulously and powerfully.</p>
    <br>
    <h3 class="text-center">We leverage our past experiences in social impact to provide an unseen voice in supporting our clients' success when entering new markets or thematic areas.</h3>
    <br>
    <br>
    <p>Lorem ipsum dolor sit, amet consectetur, adipisicing elit. Consequatur minus cupiditate, hic ab numquam saepe quos possimus repellendus. Eum dolor repellat excepturi aperiam dignissimos minus labore, in, placeat adipisci voluptatem molestias quas at quidem laudantium ad, veniam. Illum atque, reiciendis enim quibusdam eos adipisci sequi perspiciatis nesciunt nam nisi nihil, quod, tempora reprehenderit. Quo fugit nemo similique nostrum, atque eveniet alias modi quod animi in sapiente doloribus corporis repellendus? Dolorum cupiditate minus quia? Voluptatum, quam! Placeat eius quam sint quo fugit doloremque hic animi ea corporis maiores exercitationem laborum odio illum deleniti possimus voluptatum nam, iusto eum earum modi ipsam!</p>
  </div>
  <br>
  <br>
</div>
<br>
<h1 class="text-center">RECENT WORK</h1>
<br>
<div class="wraping-cards d-flex ">
  <div class="card" style="width: 18rem;">
  <%= image_tag "logo-real.png", class: "card-img-top" %>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn blue">Find out more</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <%= image_tag "logo-real.png", class: "card-img-top" %>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn blue">Find out more</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <%= image_tag "logo-real.png", class: "card-img-top" %>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn blue">Find out more</a>
  </div>
</div>
</div>
<br>
<br>
<h1 class="text-center"><%= link_to 'Meet Our Team', staff_index_path %></h1>
<br>
<br>
<div  class="contacts">
    <ul class="inline">
      <strong>Contacts</strong>
      <li>Tel: 0208 923 213</li>
      <li>Mob: 0758 6738382</li>
      <li>email: contact@bisimpact.com</li>
    </ul>
    <ul class="inline">
      <strong>Address</strong>
      <li>123 London Road</li>
      <li>London</li>
      <li>SW1U 1TE</li>
      <li>UK</li>
    </ul>
</div>
<br>





















