
<!-- ------------back to top--------- -->
<a href="#" class="back-to-top"><i class="fas fa-angle-double-up"></i></a>
<!-- --------------------- -->
<div class="banner">
    <%= video_tag "video-banner.MP4", autoplay: :autoplay, loop: :loop, muted: :muted, id: "myVideo", playsinline: true %>
  <h1 class="big-text">Biswas <br> Social Impact Advisory</h1>
</div>
<div class="text-big" data-aos="fade-right">
  <h2>We believe private equity is about people, not transactions.</h2>
</div>

<div class="container">
  <div class="row mt-5">
    <div class="col-7">
      <div class="box">
        <%= image_tag "China-Agriculture.jpg", class: "box-image-long" %>
        <div class="text-inner-box">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit optio dolorum assumenda libero aut placeat.</p>
        </div>
      </div>
      <div class="box">
        <%= image_tag "Turkey-Cityscape.jpg", class: "box-image-long" %>
        <div class="text-inner">
          <p>Lorem ipsum, dolor sit.</p>
        </div>
      </div>
    </div>
    <div class="col-5 ">
      <div class="box1">
    <%= image_tag "Uganda-Organised-Chaos.jpg", class: "box-image" %>
        <div class="text-inner">
          <p>Lorem ipsum, dolor sit.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-3">
      <div class="box3">
        <%= image_tag "China-Boats.jpg", class: "box-image" %>
        <div class="text-inner">
          <p>Lorem ipsum, dolor sit.</p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="box3">
        <%= image_tag "China-Mountains.jpg", class: "box-image" %>
        <div class="text-inner-box3">
          <p>Lorem ipsum, dolor sit.</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="box3">
        <%= image_tag "banner-img.jpg", class: "box-image" %>
        <div class="text-inner">
          <p>Lorem ipsum, dolor sit.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- -----------------strategy----------- -->
<div id="strategy" class="text-big" data-aos="fade-right">
  <h2>Experts at supporting corporate entities and philanthropists to make a social difference</h2>
  <p>For us, growth of the bottom-line is not enough. In the 21st century, clients and consumers now expect to see their partners of choice contribute back into society. We work closely with businesses that are attuned to these ground realities and want to make a social contribution back, to do so in the most constructive way. We apply our expertise in Economics and Consultancy to help management teams identify the causes they want to support, the areas where they can create additional value and support them to really make a difference.
We support philanthropists with their deepest passions. Having a vision is one thing, but knowing how to execute is another.</p>
</div>
<!-- -------------- -->
<div class="photos-divs pic-1"></div>
<div class="text-big" data-aos="fade-left">
  <h2>Trust</h2>
  <p>WE EARN IT.</p>
</div>
<div class="photos-divs pic-2"></div>
<div class="text-big" data-aos="fade-right">
  <h2>Partnership </h2>
  <p>WE EMPHASIZE IT.</p>
</div>
<div class="photos-divs pic-3"></div>
<div class="text-big" data-aos="fade-left">
  <h2>Value</h2>
  <p>WE HELP YOU CREATE IT.</p>
</div>
<div class="photos-divs pic-4"></div>
<!-- contacts div -->
<div id="contacts" class="contacts">
  <ul>
    <strong>Contacts</strong>
    <li>Tel: 0208 923 213</li>
    <li>Mob: 0758 6738382</li>
    <li>email: contact@bisimpact.com</li>
  </ul>
  <ul class="inline">
    <strong>Address</strong>
    <li>123 London Road</li>
    <li>London</li>
    <li>SW1U 1TE</li>
    <li>UK</li>
  </ul>
  <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['pk.eyJ1IjoibHl1Ym9kaWFzIiwiYSI6ImNrZGE2OWd5NDBmOHAzMXQ5aGZuYjFseHoifQ.9D58gV3sIISuL7pe0dDxyQ'] %>"></div>
</div>


