<div class="my_app_container">
  <!-- ------------back to top--------- -->
  <a href="#" class="back-to-top"><i class="fas fa-chevron-up"></i></a>
  <a href="#" class="back-to-top2"><i class="fas fa-chevron-up"></i></a>
  <!-- ------- scrolling text----------------- -->
  <div class="text-wrap">
    <div class="latest-news">
      <p class="news">Latest News</p>
    </div>
    <div class="marquee">
      <p> We are currently expanding our network of consultants. If you consider yourself to be a self-starter, but at the same time, someone who wants to make a genuine positive difference, do get in touch. 2020 has presented a whole set of new challenges; we wish everyone good health and normality in their daily lives. </p>
    </div>
  </div>
  <!-- ----------------banner --------->

  <div class="banner">
    <%= video_tag "video-banner.MP4", autoplay: :autoplay, loop: :loop, muted: :muted, id: "myVideo", playsinline: true %>
    <%= image_tag "logo-transparent1.png", class: "banner-logo" %>
  </div>
  <!-- ---------------------------- -->

  <div class="text-big" data-aos="fade-right">
    <h2 id="opening-text">BisImpact is a social impact consultancy that supports its clients to improve results in a meaningful way.</h2>
  </div>

  <!-- ---------css grid-------------- -->

  <div class="container" data-aos="zoom-in">
    <div class="row wrap">
      <div class="col-lg-7 col-md-12 box-long-padding">
        <div class="grid-box-long">
          <%= image_tag "China-Agriculture.jpg", class: "grid-box-image-long" %>
          <div class="text-inner-box">
            <p>In many countries, agriculture <b> value-chains </b> are a major source of income. <b> Women </b> are often disproportionately represented in low income generating segments.</p>
          </div>
        </div>
        <div class="grid-box-long">
          <%= image_tag "Turkey-Cityscape.jpg", class: "grid-box-image-long" %>
          <div class="text-inner-box2">
            <p><b>Tourism</b> often supports multiple <b>livelihoods</b>; working with individuals within these industries will be critical to appropriate Covid-19 economic recovery.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-12 box-tr-padding">
        <div class="box-top-right">
          <%= image_tag "Miyajima-Japan.jpg", class: "box-top-right-image" %>
          <div class="text-inner-box3">
            <p>Human action is having a devastating impact on our oceans, seas and the wider ecosystem. <b> Behavioural change </b> has to be carefully planned.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row second-wrap">
      <div class="col-lg-3 col-md-12 box-bl-padding">
        <div class="box-bottom-left">
          <%= cl_image_tag("https://res.cloudinary.com/dhoxwyrvn/image/upload/v1603925462/Emerging_City_k8lenn.jpg", class: "box-bottom-left-image") %>
          <div class="text-inner">
            <p> <b> Trade</b> is central to economic growth. <b>Digital mechanisms</b> are ever more crucial.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 grid-bottom-padding">
        <div class="grid-bottom">
          <%= image_tag "https://res.cloudinary.com/dhoxwyrvn/image/upload/v1605129790/NewYork-Traffic_d2ymzv.jpg", class: "grid-bottom-image" %>
          <div class="text-inner-box3">
            <p>Large urban centres continue to amaze the world, finding solutions to <b>congestion </b>, <b> urban poverty </b> and <b> inequality </b> requires sustained innovation. </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="grid-bottom">
          <%= image_tag "Kathmandu-Business.jpg", class: "grid-bottom-image" %>
          <div class="text-inner">
            <p>Growing domestic businesses solving localised problems can rapidly <b> create </b> many <b> jobs</b>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- -----------------strategy----------- -->
  <div id="strategy" class="text-big" data-aos="fade-right">
    <h2>We advise institutional leaders and other changemakers on the broader implications of management decisions e.g. on the climate, in job creation and social consequences by taking into account multiplier and spillover effects.</h2>
    <br>
    <p>For us, growth of the bottom-line is not enough. In the 21st century, clients and consumers now expect to see their partners of choice contribute back into society. We work closely with businesses that are attuned to these ground realities and want to make a social contribution back, to do so in the most constructive way. We apply our expertise in Economics and Consultancy to help management teams identify the causes they want to support, the areas where they can create additional value and support them to really make a difference.
    We support philanthropists with their deepest passions. Having a vision is one thing, but knowing how to execute is another.</p>
  </div>
  <!-- -------------- -->
  <div data-aos="flip-left">
    <%= image_tag "Rwanda-Landscape.jpg", class: "lg-photos" %>
  </div>
  <div class="text-big" data-aos="fade-left">
    <h2>We are a group of analytically minded individuals who seek to provide a new perspective on decision-making through evidence based advice.</h2>
    <br>
    <p>In everything we do, we realise it is important to first identify the areas where additionality can be brought. That way, we can leverage scarce resource to have maximum impact and not crowd out or substitute the positive work of others.</p>
  </div>

  <div class="photos-divs pic-2" data-aos="flip-right">
    <%= image_tag "Rwanda-Traditional-Dance.jpg", class: "lg-photos" %>
  </div>
  <div class="text-big" data-aos="fade-right">
    <h2>Known as experts at supporting corporate entities and philanthropists to make a social difference.</h2>
    <br>
    <p>Our people have professional and academic backgrounds that can be directly utilised to stimulate a canvass of uncaptured viewpoints. By contributing in this way, we diversify mindsets and enhance outcomes. At the same time, our staff are alert to the necessary goals of our stakeholders.</p>
  </div>
  <div class="photos-divs pic-3" data-aos="flip-left">
    <%= image_tag "Tunisia-Market.jpg", class: "lg-photos" %>
  </div>
  <div class="text-big" data-aos="fade-left">
    <h2>Building long-term relationships is at the heart of our business model; we place great emphasis in how we do things rather than simply doing.</h2>
    <br>
    <p> We always consider plausible benchmarks and pride ourselves on finding solutions in data-poor environments. Our working ethos constantly embraces feedback, and we guarantee enthusiasm and passion.</p>
  </div>
  <div class="photos-divs pic-4" data-aos="flip-right">
    <%= image_tag "Tunisia-Skyline.jpg", class: "lg-photos" %>
  </div>
  <!-- -------------------contacts div ---------->
  <div class="text-big" data-aos="fade-right">
    <h2 class="text-center bisimpact-bigtext"> Contact Us </h2>
    <p class="invite-correspondance"> WE LOOK FORWARD TO YOUR CORRESPONDANCE </p>
  </div>

  <div  class="contacts" id="contacts" data-aos="flip-left">
    <!-- --- address -->
    <div class="wrap-address">
      <ul class="inline">
        <li>Wood Green</li>
        <li>London</li>
        <li>N22</li>
        <li>UK</li>
      </ul>
    </div>
    <!-- -------------google map------- -->
    <div class="map-wrapper">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2478.418651478061!2d-0.11219868398350624!3d51.59721727964991!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761be2449ab987%3A0x39f4a9a9893c4b68!2sWood%20Green%20tube%20station!5e0!3m2!1sen!2suk!4v1604842506483!5m2!1sen!2suk" width="100%" height="220" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" class="map-width"></iframe>
    </div>
    <!-- -------------form------- -->
    <div>
      <form
        action="https://formspree.io/f/xvovqkpz"
        method="POST"
        class=" text-center form pt-4"
        >
        <label>
          Full Name:<br>
          <input type="text" name="name" class="input">
        </label>
        <label>
          Email:<br>
          <input type="text" name="_replyto" class="input">
        </label>
        <label>
          Your message:<br>
          <textarea name="message" class="text-area"></textarea>
        </label>
        <!-- your other form fields go here -->
        <button type="submit" class="button-custom">Send</button>
      </form>
    </div>
  </div>
</div>
