<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <!-- <img class="d-block w-100" src="China-Boats.jpg" alt="First slide"> -->
      <%= cl_image_tag "https://res.cloudinary.com/dhoxwyrvn/image/upload/v1603924486/Train_zvi9ox.jpg", class: "gg d-block w-100 gg" %>
    </div>
    <div class="carousel-item">
      <%= cl_image_tag "https://res.cloudinary.com/dhoxwyrvn/image/upload/v1603922037/Pagoda_clbwka.jpg", class: "gg d-block w-100 gg" %>
    </div>
    <div class="carousel-item">
      <%= cl_image_tag "https://res.cloudinary.com/dhoxwyrvn/image/upload/v1603922036/Tanzania_white_xrns7y.jpg", class: "gg d-block w-100 gg" %>
    </div>
    <div class="carousel-caption  d-md-block">
    <h1 class="service-title">Sustainability</h1>
    <p>Lorem ipsum dolor sit amet</p>
  </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<br>
<br>
<h1 class="services-bigtext">OUR UNDERSTANDING</h1>
<br>
<div class="container">
  <div class="content">
    <p class="services-description">Over the last 100 years, the way we as people and our institutions interact within the global economy has massively shifted. In many ways, we have seen the onset of a third-wave of globalisation. With that, there comes large trade-offs in decision-making. There is a complex mix of opportunities and risks, and a growing awareness that strategic choices must consider long(er) time horizons. Decision-makers really must consider their supply-chains and their impact on the environment; the services they provide and the precedents they set; the need to diversify to guard against exogeneous shocks but at the same time, the importance of generating prolonged employment opportunities for communities far and wide. </p>
    <br>
    <h3 class="services-description"><b>We help our partners to pivot their ways of working and make the best choices now.</b></h3>
  </div>
  <br>
</div>
<br>
<h1 class="services-bigtext">HOW WE CAN HELP</h1>
<br>
<div class="wraping-cards d-flex ">
  <div class="card" style="width: 18rem;">
  <%= image_tag "logo-blue.png", class: "card-img-top" %>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn blue">Find out more</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <%= image_tag "logo-blue.png", class: "card-img-top" %>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn blue">Find out more</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <%= image_tag "logo-blue.png", class: "card-img-top" %>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn blue">Find out more</a>
  </div>
</div>
</div>
<br>
<br>
<h1 class="text-center"><%= link_to 'Meet Our Team', staff_index_path %></h1>
<br>
<br>
<div  class="contacts">
    <ul class="inline">
      <strong>Contacts</strong>
      <li>Tel: 0208 923 213</li>
      <li>Mob: 0758 6738382</li>
      <li>email: contact@bisimpact.com</li>
    </ul>
    <ul class="inline">
      <strong>Address</strong>
      <li>123 London Road</li>
      <li>London</li>
      <li>SW1U 1TE</li>
      <li>UK</li>
    </ul>
</div>
<br>






















